body  {  	
	margin: 0;  	
	padding: 0;
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	color: #6a9c4b;
	background: #ddd url(img/img_body.jpg) repeat 0 0; 
	}    
	
	a:link { color: #6a9c4b; }
	a:visited { color: #2a5621; }
	a:focus { color: #000; }
	a:hover { color: #50a240; }
	a:active { color: green; }
	h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em; }
	
h2{
	color: #084f2f;
	font: 110% georgia;

	font-size: 40px;
	}	

h3 {
	color: #7d8206;
	font: 110% georgia, times, "times new roman", serif;
	}
#container  {  	
	margin: 1em auto;  	
	width: 1000px; 
	height: 600px;
	text-align: left; 	
	background: #fff;
	border: 1px solid #676767;  
	}    
#header {
	height: 45px;
	width: 100%;
	position: relative;
	background: url("img/bg_header.jpg") no-repeat 0 0;
	border-bottom: 1px solid #fff;
	}
#header h1 {
	position: absolute;
	left: -500em;
	}
	
#mainnav {
	background: #9F3;
    }

#skipmenu {
	position: absolute;
	left: 0;
	top: 5px;
	width: 645px;
	text-align: right;
	}

#skipmenu a {
	color: #555;
	text-decoration: none;
	}
#mainnav {
	background: #021d0a;
	color: #cff8e7;
	padding: 2px 0;
	margin-bottom: 10px;
	}
	
#mainnav ul{
	margin: 10 10 20px;
	padding: 0;
	list-style-type: none;
	border-bottom: 0px;
	border-left:  1px solid #117a57;
	}
	
#mainnav li{
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #117a57;
	}

#mainnav li a{
	text-decoration: none;
	color: #9cd591;
	}

#mainnav li a:HOVER{
	text-decoration: none;
	color: #d0f2e1;
	background-color: #125232;
	}
#menu  {  	
	float: right;  	
	width: 250px;
	border-left: 1px solid #d0f2e1;  	
	padding-left: 15px;
	} 
	
#menu ul{
	margin: 1em 0;
	padding: 0;
	}   

	
#menu ul li{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
	}   
	
	
#contents  {  	
	float: left;  	
	width: 650px;
	height: 400px;  	 	
	margin: 0 0 0 20px;
	margin-left: 50px;  
	} 
	
#contents p{
	line-height: 165%;
	} 
.pag_principal {
	border-bottom: 1px solid #d0f2e1;
	}
	
.imagefloat{
	float: right;
	padding: 2px;
	border: 1px solid #d0f2e1;
	margin: 0 0 10px 10px;
	}  

#footer {
	clear: both;
	color: #d0f2e1;
	text-align: right;
	font-size: 90%;
	background: #376e2c;
	padding: 10px;
	
	}